.container__principal__navbar {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.container__group,
.container__timer,
.container__points {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7rem;
    height: 2.7rem;
    background-color: #662401;
    color: #FFFFFF;
    font-size: 1.25rem;
    border-radius: 15px;
}

.container__group{
    background-color: #F20F38;
}

.container__timer > p {
    margin-right: .4rem;
}

.lifeLost__navbar {
    width: 2.2rem;
    position: absolute;
    right: 40%;
    bottom: -17px;
    animation: slide-in .8s ease-in-out;
}

@keyframes slide-in {
    0% {
        bottom: -17px;
        opacity: 1;
    }
    100% {
        bottom: -30px;
        opacity: 0;
    }
}